<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-share-alt fa-4x"></i>
    <p class=" h2 text-primary">Welcome To Resume Share</p>
    <p class="h6">We promise that your resume will not be shared by anyone without your permission.</p>
      <hr>
          <%userWithResumes.forEach(function(resumename){%>
        
          <div class="form-check form-check-inline">
            <p>
              <%=userWithResumes.indexOf(resumename)+1 %>.
            </p>
              <!-- delete -->
            <form class="" action="/delete" method="post">
              <div class="item">
                <a class="secret-resume fas fa-file fa-4x" href="./uploads/<%=resumename%>"> <%=resumename%></a>
                <input type="hidden" name="resumename" value="<%=resumename%>" />
                <p><button class="btnSymbol" name="indexOfItem" value="<%=userWithResumes.indexOf(resumename)%>" onclick="this.form.submit()"><i class="fa fa-trash"></i></p>
              </div>
            </form>
            <!-- share with -->
            <form class="" action="/sharewith" method="post">
              <div class="item">
                <input type="email" name="sharewithemail" value="" placeholder="Enter email to share resume" />
               <p><button class="btnSymbol" name="resumename" value="<%=resumename%>" onclick="this.form.submit()"><i class="fa fa-share"></i></p>
               </div>
             </form>
          </div>
      <%})%>


    <hr>
    <div class="bottom">
      <a class="btn btn-dark btn-lg " href="/submit" role="button">Upload resume</a>
      <a class="btn btn-info btn-lg " href="/logout" role="button">Log Out</a>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
